<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="../public/css/homePageStyle.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/homePageStyle.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
      @import url("https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
      body {
        font-family: "Roboto", sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="body">
      <div id="sidebar">
        <h1 id="logo">Thrift-Us.</h1>
      </div>

      <div id="titles">
        <div style="display: flex-inline">
          <div
            style="
              height: 10vh;
              display: flex;
              align-items: center;
              padding-left: 1.5vw;
            "
          >
            <h1
              style="
                color: #a8adb9;
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                font-size: 2vw;
              "
            >
              Reviews
            </h1>
          </div>
          <div
            style="
              display: flex;
              width: 20vw;

              transform: translateX(-1.5vw);
              padding-left: 3vw;
            "
          >
            <form action="/search" method="GET" id="searchForm">
              <input
                type="text"
                name="search"
                placeholder="Search"
                id="searchBar"
              />
              <button id="searchButton" type="submit">search</button>
            </form>
          </div>
          <h3 style="font-size: small; padding-left: 1.5vw">
            search results for: <%= typeof searchWord === 'undefined' ? " " :
            searchWord %>
          </h3>
          <div id="titlescroll">
            <% for(let i = 0; i < reviews.length; i++) { %>
            <div class="review">
              <button
                id="block"
                data-index="<%= i %>"
                onclick="showReviewContent(this)"
              >
                <h3><%= reviews[i].title %></h3>
              </button>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <div id="content"></div>
    </div>
    <script>
      console.log("Script loaded successfully.");

      document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll("#titlescroll button");
        buttons.forEach((button) => {
          button.addEventListener("click", function () {
            showReviewContent(this);
          });
        });
      });

      //use index from button, since index is client side,
      // we fetch for the review content from the server using the index
      function showReviewContent(button) {
        const index = button.dataset.index;
        console.log("index: ", index);

        fetch(`/getReviewContent?index=${index}`)
          .then((response) => response.json())
          .then((data) => {
            const reviewContent = data.reviewContent ? data.reviewContent : " "; // Default value if review content is not available
            console.log("Button clicked. Review content:", reviewContent);

            // Update the content div with the review content
            document.getElementById("content").innerHTML  = reviewContent;
          });
      }
    </script>
  </body>
</html>
